/* WebStudio #2196F3; */
/* цвет основного текста rgba(33, 33, 33, 1); */
/* вторичный цвет текста  rgba(117, 117, 117, 1);  */
/* первичный текст фона #FFFFFF  */
/* вторичный цвет фона #F5F4FA; */
/* акцент rgba(33, 150, 243, 1); */

:root {
    --main-text-color: rgba(33, 33, 33, 1);
    --secondary-text-color: rgba(117, 117, 117, 1);
    --accent-color:rgba(33, 150, 243, 1);
    --main-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --third-bg-color:#2F303A;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
}

.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 200;
    margin-right: 200;
}

.logo-header {
    color: var(--main-text-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-footer {
    color: var(--main-bg-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}


/* Header */
.logo-web {
    color: var(--accent-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.site-nav .link {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav {
    list-style-type: none;
}

/* Adress */
.header-address {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.footer-address > p {
    color: var(--main-bg-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.contact {
    color: var(--secondary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.mail {
    color: var(--accent-color);
    text-decoration: none;
}

/* Hero */
.hero {
    background-color: var(--third-bg-color);

    text-align: center;
}
.hero-title{
    color: var(--main-bg-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 0;
}

/* Section */
.section {
    padding-top: 94px;
    padding-bottom: 94px
}

.section-team {
    background-color: var(--secondary-bg-color);
    padding-top: 94px;
    padding-bottom: 94px
}

.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;
}

.qualities-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 0;
}

.qualities-text {
    color: var(--secondary-text-color);

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    margin-top: 10px;
    margin-bottom: 0;
}


/* Specialists */
.specialist {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.position {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Button */
.primary-button {
    color: var(--main-bg-color);
    background-color: var(--accent-color);

    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-decoration: none;

    display: inline-block;
    margin-top: 30px;
    text-align: center;
    border-radius: 4px;
    padding: 10px 32px;
}

.button {
    background-color: var(--secondary-bg-color);

    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
}

.button:hover,
.button:focus {
    color: var(--main-bg-color);
    background-color: var(--accent-color);
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer {
    background-color: var(--third-bg-color)
}

/* Projects */
.project-text {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.project {
    text-decoration: none;
}

.project-title {
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}